@charset "UTF-8";
/*Цвета проекта*/
/*Шрифт проекта*/
/*Базовые стили проекта*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}
a:hover {
  color: #f29848 !important;
}

ul, ol {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.notification {
  position: absolute;
  top: -10px;
  right: -5px;
  border-radius: 22px;
  background: #EF7F1B;
  font-size: 15px;
  font-weight: 700;
  padding: 3px 7px 3px 6px;
  color: white;
}

.whatsapp rect, .vk rect {
  transition: 0.3s ease;
}

.whatsapp:hover rect {
  fill: #6cd37e;
}

.vk:hover rect {
  fill: #3292ff;
}

.max-width-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.max-width-wrapper .width-wrapper {
  max-width: 1440px;
  display: flex;
  width: 100%;
}

.header .header__mobile-open {
  left: 0px !important;
}
.header .header__mobile {
  display: none;
}
@media (max-width: 1000px) {
  .header .header__mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: 0.3s ease;
  }
}
.header .header__mobile .header__mobile__close {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
  cursor: pointer;
}
.header .header__mobile .header__mobile__close path {
  transition: 0.3s ease;
}
.header .header__mobile .header__mobile__close:hover path {
  fill: #f29848;
}
.header .header__mobile ul {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
}
.header .header__mobile ul .header__mobile__wrapper__link {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  margin-top: -1px;
}
.header .header__mobile ul .header__mobile__wrapper__link:hover a {
  color: #f29848;
}
.header .header__mobile ul .header__mobile__wrapper__link a {
  padding: 20px 20px;
  color: #24282D;
  transition: 0.3s ease;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 130%;
}
.header .header__mobile ul .header__mobile__social-links {
  display: flex;
  gap: 10px;
  padding: 20px 20px;
}
.header .header-top {
  background: black;
  width: 100%;
  display: Flex;
  padding-top: 14px;
}
.header .header-top .header__top__layout {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  max-height: 66px;
  width: 100%;
  position: relative;
}
.header .header-top .header__layout__top__links {
  display: flex;
  gap: 20px;
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__links {
    gap: 10px;
    width: 100%;
    max-width: 270px;
  }
}
.header .header-top .header__layout__top__links .hamburger {
  display: none !important;
}
.header .header-top .header__layout__top__links .hamburger:hover a {
  background: #323232;
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__links .hamburger {
    display: flex !important;
  }
}
.header .header-top .header__layout__top__links .hamburger a {
  transition: 0.3s ease;
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__links .hamburger a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background: #383838;
    border-radius: 10px;
    height: 48px;
  }
}
@media (max-width: 480px) {
  .header .header-top .header__layout__top__links .hamburger a {
    padding: 12px 10px;
  }
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__links .link {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__links .menu__hamburger {
    display: none;
  }
}
.header .header-top .header__layout__top__links .header__layout__top__link.menu a {
  background: white;
  color: black;
  gap: 10px;
  padding: 18px 28px 18px 24px;
  border-radius: 10px 10px 0px 0px;
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__links .header__layout__top__link.menu a {
    padding: 15px 24px;
    border-radius: 10px;
    height: 48px;
  }
}
@media (max-width: 480px) {
  .header .header-top .header__layout__top__links .header__layout__top__link.menu a span {
    font-size: 15px;
  }
}
.header .header-top .header__layout__top__links .header__layout__top__link {
  display: Flex;
}
.header .header-top .header__layout__top__links .header__layout__top__link a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  line-height: 130%;
  transition: 0.3s ease;
}
.header .header-top .header__layout__top__links .header__layout__top__link a:hover {
  color: #f29848;
}
.header .header-top .header__layout__top__links .header__layout__top__link a path {
  transition: 0.3s ease;
}
.header .header-top .header__layout__top__links .header__layout__top__link a:hover path {
  stroke: #f29848;
}
.header .header-top .header__logo {
  position: relative;
  top: 6px;
  width: 128px;
  height: 106px;
}
@media (max-width: 1000px) {
  .header .header-top .header__logo {
    width: 110px;
    height: 92px;
  }
}
@media (max-width: 768px) {
  .header .header-top .header__logo {
    width: 108.87px;
    height: 93.246px;
  }
}
@media (max-width: 700px) {
  .header .header-top .header__logo {
    display: None;
  }
}
.header .header-top .header__layout__top__right {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 16px;
}
.header .header-top .header__layout__top__right .header__layout__top__search {
  display: flex;
  width: 296px;
}
@media (max-width: 1275px) {
  .header .header-top .header__layout__top__right .header__layout__top__search {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__right .header__layout__top__search:hover input {
    top: 48px;
    max-height: 50px;
    overflow: visible;
    padding-top: 50px;
  }
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__right .header__layout__top__search .header__layout__top__search__wrapper {
    display: none;
  }
}
.header .header-top .header__layout__top__right .header__layout__top__search .header__layout__top__search__wrapper input {
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #383838;
  background: #24282D;
  padding: 10px;
  outline: none;
  transition: 0.3s ease;
  color: white;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
}
.header .header-top .header__layout__top__right .header__layout__top__search .header__layout__top__search__wrapper input:focus {
  background: #323232;
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__right .header__layout__top__search .header__layout__top__search__wrapper input {
    position: absolute;
    border-radius: 10px 10px 10px 10px;
    left: 0;
    max-height: 0px;
    overflow: hidden;
  }
}
.header .header-top .header__layout__top__right .header__layout__top__search button {
  transition: 0.3s ease;
  border-radius: 0px 10px 10px 0px;
  background: #383838;
  padding: 12px 20px;
}
@media (max-width: 1000px) {
  .header .header-top .header__layout__top__right .header__layout__top__search button {
    border-radius: 10px 10px 10px 10px;
  }
}
@media (max-width: 480px) {
  .header .header-top .header__layout__top__right .header__layout__top__search button {
    padding: 12px;
  }
}
.header .header-top .header__layout__top__right .header__layout__top__auth .header__layout__top__auth__btn {
  border-radius: 10px;
  padding: 12px 24px 12px 20px;
  display: flex;
  gap: 6px;
  background: #383838;
  transition: 0.3s ease;
  height: 100%;
  align-items: center;
}
.header .header-top .header__layout__top__right .header__layout__top__auth .header__layout__top__auth__btn:hover {
  background: #323232;
}
@media (max-width: 768px) {
  .header .header-top .header__layout__top__right .header__layout__top__auth .header__layout__top__auth__btn {
    padding: 12px 20px;
  }
}
@media (max-width: 480px) {
  .header .header-top .header__layout__top__right .header__layout__top__auth .header__layout__top__auth__btn {
    padding: 12px 10px;
  }
}
.header .header-top .header__layout__top__right .header__layout__top__auth .header__layout__top__auth__btn span {
  color: white;
}
@media (max-width: 768px) {
  .header .header-top .header__layout__top__right .header__layout__top__auth .header__layout__top__auth__btn span {
    display: none;
  }
}
.header .header-top .header__layout__top__right .header__layout__top__busket {
  position: relative;
}
.header .header-top .header__layout__top__right .header__layout__top__busket .header__layout__top__busket__wrapper {
  padding: 12px 24px 12px 20px;
  border-radius: 10px;
  height: 100%;
  background: #383838;
  display: flex;
  transition: 0.3s ease;
}
.header .header-top .header__layout__top__right .header__layout__top__busket .header__layout__top__busket__wrapper:hover {
  background: #323232;
}
@media (max-width: 480px) {
  .header .header-top .header__layout__top__right .header__layout__top__busket .header__layout__top__busket__wrapper {
    padding: 12px 10px;
  }
}
.header .header-bottom {
  padding-top: 18px;
}
.header .header-bottom .header__bottom__layout {
  margin: 0px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__left {
  display: Flex;
  gap: 30px;
  align-items: Center;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 700px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__left {
    gap: 14px;
  }
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__location {
  display: flex;
  align-items: center;
  gap: 6px;
}
@media (max-width: 700px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__location span {
    display: none;
  }
}
@media (max-width: 700px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__location .location {
    display: none;
  }
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__location .location-logo {
  display: none;
}
@media (max-width: 700px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__location .location-logo {
    display: flex;
    width: 45px;
    height: 38px;
  }
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__time {
  display: flex;
  flex-direction: column;
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__time h3 {
  display: none;
}
@media (max-width: 700px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__time h3 {
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 700px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__left .header__bottom__layout__time span {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__right {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__right .header__bottom__layout__phone a {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  transition: 0.3s ease;
  color: black;
}
@media (max-width: 768px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__right .header__bottom__layout__phone a {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__right .header__bottom__layout__phone a {
    font-size: 15px;
  }
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__right .header__bottom__layout__phone:hover a {
  color: #f29848;
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__right .whatsapp rect, .header .header-bottom .header__bottom__layout .header__bottom__layout__right .vk rect {
  transition: 0.3s ease;
}
@media (max-width: 420px) {
  .header .header-bottom .header__bottom__layout .header__bottom__layout__right .whatsapp,
  .header .header-bottom .header__bottom__layout .header__bottom__layout__right .vk {
    display: none;
  }
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__right .whatsapp:hover rect {
  fill: #6cd37e;
}
.header .header-bottom .header__bottom__layout .header__bottom__layout__right .vk:hover rect {
  fill: #3292ff;
}

/*Цвета проекта*/
/*Шрифт проекта*/
/*Базовые стили проекта*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}
a:hover {
  color: #f29848 !important;
}

ul, ol {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.notification {
  position: absolute;
  top: -10px;
  right: -5px;
  border-radius: 22px;
  background: #EF7F1B;
  font-size: 15px;
  font-weight: 700;
  padding: 3px 7px 3px 6px;
  color: white;
}

.whatsapp rect, .vk rect {
  transition: 0.3s ease;
}

.whatsapp:hover rect {
  fill: #6cd37e;
}

.vk:hover rect {
  fill: #3292ff;
}

.max-width-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.max-width-wrapper .width-wrapper {
  max-width: 1440px;
  display: flex;
  width: 100%;
}

.footer {
  background: #242424;
}
.footer .footer__layout {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  padding: 49px 0px 40px;
  margin: 0px 20px;
  align-items: center;
}
.footer .footer__layout .footer__layout__logo {
  position: absolute;
  top: -60px;
}
@media (max-width: 1000px) {
  .footer .footer__layout .footer__layout__logo {
    width: 110px;
    height: 92px;
  }
}
.footer .footer__layout .footer__layout__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 35px;
}
.footer .footer__layout .footer__layout__info ul {
  display: flex;
  gap: 20px;
}
@media (max-width: 1000px) {
  .footer .footer__layout .footer__layout__info ul {
    max-width: 312px;
    flex-wrap: wrap;
  }
}
@media (max-width: 580px) {
  .footer .footer__layout .footer__layout__info ul {
    flex-direction: column;
  }
}
.footer .footer__layout .footer__layout__info ul a {
  font-size: 20px;
  color: white;
  font-weight: 600;
  line-height: 130%;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .footer .footer__layout .footer__layout__info ul a {
    font-size: 15px;
  }
}
.footer .footer__layout .footer__layout__info .footer__layout__social {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 1000px) {
  .footer .footer__layout .footer__layout__info .footer__layout__social {
    flex-direction: column;
    align-items: flex-end;
  }
}
.footer .footer__layout .footer__layout__info .footer__layout__social .footer__layout__right__phone a {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
@media (max-width: 480px) {
  .footer .footer__layout .footer__layout__info .footer__layout__social .footer__layout__right__phone a {
    font-size: 17px;
  }
}
.footer .footer__layout .footer__layout__info .footer__layout__social .social-links {
  display: flex;
  gap: 10px;
}
.footer .footer__layout .footer__layout__menu {
  padding: 20px 10px;
  border-top: 1px solid #AAA;
  width: 100%;
  border-bottom: 1px solid #AAA;
}
.footer .footer__layout .footer__layout__menu ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .footer .footer__layout .footer__layout__menu ul {
    gap: 20px;
  }
}
.footer .footer__layout .footer__layout__menu ul li a {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  color: #FFF;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .footer .footer__layout .footer__layout__menu ul li a {
    font-size: 15px;
  }
}
.footer .footer__layout .footer__layout__copyright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}
@media (max-width: 480px) {
  .footer .footer__layout .footer__layout__copyright {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.footer .footer__layout .footer__layout__copyright span, .footer .footer__layout .footer__layout__copyright a {
  color: white;
}
@media (max-width: 480px) {
  .footer .footer__layout .footer__layout__copyright span {
    text-align: center;
  }
}
.footer .footer__layout .footer__layout__copyright a {
  text-decoration: underline;
}
.footer .footer__layout .footer__layout__copyright a:hover {
  color: #f29848;
}

main {
  height: 850px;
}/*# sourceMappingURL=main.css.map */