@charset "UTF-8";
/*Цвета проекта*/
/*Шрифт проекта*/
/*Базовые стили проекта*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}
a:hover {
  color: #f29848 !important;
}

ul, ol {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.notification {
  position: absolute;
  top: -10px;
  right: -5px;
  border-radius: 22px;
  background: #EF7F1B;
  font-size: 15px;
  font-weight: 700;
  padding: 3px 7px 3px 6px;
  color: white;
}

.whatsapp rect, .vk rect {
  transition: 0.3s ease;
}

.whatsapp:hover rect {
  fill: #6cd37e;
}

.vk:hover rect {
  fill: #3292ff;
}

.nav--opened {
  overflow-y: hidden;
}

.swiper-slide {
  border-radius: 20px;
}

.swiper-button-prev, .swiper-button-next {
  height: 70px;
  width: 71px;
  color: black;
  border-radius: 100px;
  background: white;
  padding: 20px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.05));
  transition: 0.3s ease;
}
@media (max-width: 1000px) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background: #f29848;
  color: white;
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 0px);
}

.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 0px);
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 30px;
}

.new-item {
  display: flex;
  padding: 6px 14px 7px 14px;
  gap: 10px;
  border-radius: 50px;
  background: #98CE52;
  color: white;
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.max-width-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.max-width-wrapper .width-wrapper {
  max-width: 1440px;
  display: flex;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  border-bottom: 2px solid #EF7F1B;
  background: white;
  padding: 20px !important;
}
@media (max-width: 1000px) {
  .sticky {
    padding: 20px 20px 0px 20px !important;
  }
}
.sticky .food-nav__layout {
  margin: 0px !important;
}

.food-nav {
  padding: 40px 0px 30px;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  .food-nav {
    padding: 60px 0px 30px;
  }
}
.food-nav .food-nav__layout {
  margin: 0px 20px;
  width: 100%;
}
.food-nav .food-nav__layout .food-nav__layout__links {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  justify-content: space-between;
}
.food-nav .food-nav__layout .food-nav__layout__links .food-nav__layout__link {
  padding: 10px 24px;
  font-size: 17px;
  color: black;
  font-weight: 600;
  transition: 0.3s ease;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}
.food-nav .food-nav__layout .food-nav__layout__links .food-nav__layout__link span {
  width: 100%;
}
.food-nav .food-nav__layout .food-nav__layout__links .food-nav__layout__link:hover {
  background: #f29848;
  color: white !important;
}
.food-nav .food-nav__layout .food-nav__layout__links .active {
  background: #EF7F1B;
  color: white;
}
.food-nav .food-nav__layout .food-nav__layout__links .active:hover {
  color: white !important;
  background: #f29848;
}/*# sourceMappingURL=food-nav.css.map */