
.main
    .top-banners
        .width-wrapper
            position: relative

    .food-nav__layout
        overflow-x: auto

        @include desktop-small
        &::-webkit-scrollbar
            width: 0

        .food-nav__layout__links
            width: 1400px

    #new, #combo, #burgers, #shaurma, #panini, #zakuski, #cold_drinks, #milkshakes, #sousi, #tea_coffee
        .width-wrapper
            overflow: hidden

            .food-catalog__layout
                @include desktop-small
                    overflow-x: auto

            .food-swiper
                width: 1400px
                position: relative

                &:hover
                    .swiper-button-next, .swiper-button-prev
                        opacity: 1

                .swiper-button-next, .swiper-button-prev
                    opacity: 0

                    @include desktop-small
                        display: none

    #combo, #burgers, #shaurma, #panini, #zakuski, #sousi, #cold_drinks, #milkshakes, #tea_coffee
        padding-top: 130px
        margin-top: -130px
        display: inline-block
